{% extends "base.html.j2" %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>Phonebook</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h2>Records</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>name</th>
                    <th>number</th>
                </tr>
            </thead>
            <tbody>
            {% for record in phone_records %}
                <tr>
                    <td>{{ record.id     }}</td>
                    <td>{{ record.name   }}</td>
                    <td>{{ record.number }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        {% include "new_record.html" %}
    </div>
</div>

{% endblock content %}
