{% extends "base.html.j2" %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>Hello World</h1>
    </div>
</div>

{% for record in phone_records %}
    <div class="row">
        <div class="col-6">
            <span>{{ record.name }}</span>
        </div>
        <div class="col">
            <span>{{ record.number }}</span>
        </div>
    </div>
{% endfor %}

{% endblock content %}
