<div class="row">
    <div class="col">
        <h1>Add a new phonebook entry</h1>
        <form class="form" method="POST" action="{% url 'new' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input name="name" type="text" class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Number</span>
                <input name="number" type="text" class="form-control">
            </div>
            <button type="submit" class="btn button">Save</button>
        </form>
    </div>
</div>
